{% set heroText = "" %}
  {% if entry.heroTitle=="" %}
    {% set heroText = entry.title %}
  {% else %}
    {% set heroText = entry.heroTitle %}
  {% endif %}

<div class="card">
  <div class="card__thumb block--margin-bottomSM">
    <a href="{{ entry.url }}"><img src="/temp/thumbs/card-thumb.jpg" alt="test"></a>
  </div>
  <div class="card__content block--margin-bottomSM">
    <div class="category">{{ entry.blogCategory.one() != null ? entry.blogCategory.one().title }}</div>
    <h3 class="card__content__title"><a href="{{ entry.url }}">{{ heroText }}</a></h3>
    <p class="card__content__description color--grey-dark">{{ entry.shortDescription }}</p>
  </div>
  <div class="">
    <a class="button button--light--arrow" href="{{ entry.url }}">Learn More</a>
  </div>
</div>