{% set heroText = "" %}
  {% if entry.heroTitle=="" %}
    {% set heroText = entry.title %}
  {% else %}
    {% set heroText = entry.heroTitle %}
  {% endif %}

{% set heroImageUrl = "" %}
{% for block in entry.entryImages.all() %}
  {% if block.thumbnailImages.one()|length %}
    {% set heroImageUrl = block.thumbnailImages.one() %}
  {% endif %}
{% endfor %}
<div class="card">
  <div class="card__thumb block--margin-bottomSM">
    <a href="{{ entry.url }}"><img src="{{ heroImageUrl != "" ? heroImageUrl.url }}" alt="{{ entry.title }}"></a>
  </div>
  <div class="card__content block--margin-bottomSM">
    <div class="category">{{ entry.blogCategory.one() != null ? entry.blogCategory.one().title }}</div>
    <h3 class="card__content__title"><a href="{{ entry.url }}">{{ heroText  | raw }}</a></h3>
    <div class="card__content__description color--grey-dark">{{ entry.shortDescription | raw }}</div>
  </div>
  {% if showLearnMore is defined and showLearnMore %}
  <div class="">
    <a class="button button--light--arrow" href="{{ entry.url }}">Learn More</a>
  </div>
  {% endif %}
</div>