{#
# Main Footer Template
# ---------------
#
# Proper Implementation:
# {% include "footers/_footer.html" %}
#
#
#}


{# ----- Prepare Data ----- #}


{# ----- Build Page ----- #}

<section class="block--paddingLG block--bg-navy">
  <footer class="container">
    <div class="row">
      <div class="col-lg-2">
        <a href="/">{%  include 'components/svg/bowery-logo-inverted.svg' %}</a>
      </div>
      <div class="col-lg-8 offset-lg-1">
        <div class="row">
          <div class="col-md-3">
            <ul>Discover
              <li><a href="/blog">Blog</a></li>
              <li><a href="/portfolio">Portfolio</a></li>
              <li><a href="/jobs">Jobs</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul>Company
              <li><a href="/team">Team</a></li>
              <li><a href="/fellowship">Fellowship</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul>Social
              <li><a href="https://twitter.com/BoweryCapital" target="_blank">Twitter</a></li>
              <li><a href="https://www.linkedin.com/company/bowery-capital/" target="_blank">Linkedin</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul>
              Contact
              <li><a href="mailto:contact@bowerycapital.com">contact@bowerycapital.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
{% if entry is defined and entry.isEditable() %}
  <div class="edit-entry">
    <p>Welcome, {{ currentUser.friendlyName }}! <a href="{{ entry.cpEditUrl }}" class="color-orange arrow">Edit this
        entry</a></p>
  </div>
{% endif %}

<script src="/js/main.min.js"></script>
<script type="text/javascript" src="{{ siteUrl ~ 'js/nextparticle.min.js' }}"></script>
