.button {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.24em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 7px 20px 7px 10px;
  position: relative;
  z-index: 2;
  &--light {
    &--arrow {
      color: $navy;
      &:hover {
        &:before {
          width: 100%;
        }
      }
      &:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        z-index: -1;
        transition: all 1s;
        background-color: #e9ece7;
      }
      &:after {
        content: url(/template-img/svg/arrow-navy.svg);
        position: relative;
        top: -1px;
        display: inline-block;
        width: 16px;
        left: 10px;
        transition: 300ms all;
        z-index: 3;
      }
    }
  }

  &--dark {
    &--arrow {
      color: $white;
      &:hover {
        &:before {
          width: 100%;
        }
      }
      &:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        width: 15%;
        z-index: -1;
        transition: all 1s;
        background-color: rgba(255, 255, 255, 0.3);
      }
      &:after {
        content: url(/template-img/svg/arrow-white.svg);
        position: relative;
        top: -1px;
        display: inline-block;
        width: 16px;
        left: 10px;
        transition: 300ms all;
        z-index: 3;
      }
    }
  }

  &--alternate {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    padding-bottom: 7px;
    border-bottom: 2px solid;
    &:hover {
      border-bottom: none;
    }
  }
}
