$black: #000;
$grey-dark:#2B2B2B;
$grey-medium:#CDD3DF;
$grey:#F3F3F3;
$grey-cool:#FBFBFB;
$grey-warm:#F3F5F9;
$navy: #1c3e58;
$olive: #5F645A;
$tan: #aab49f;
$white-soft: #eeedee;
$white:#fff;


@mixin bg-navy {
  background-image: linear-gradient(128deg, $white-soft 0%, $navy 100%);
}

@mixin overlay-navy {
  background-image: linear-gradient(135deg, $black 0%, $navy 100%);
}
