$black: #000;
$grey-dark:#2B2B2B;
$navy: #1c3e58;
$tan: #aab49f;
$white-soft: #eeedee;
$white:#fff;


@mixin bg-navy {
  background-image: linear-gradient(128deg, $white-soft 0%, $navy 100%);
}

@mixin overlay-navy {
  background-image: linear-gradient(135deg, $black 0%, $navy 100%);
}
