{#
# Main Footer Template
# ---------------
#
# Proper Implementation:
# {% include "footers/_footer.html" %}
#
#
#}


{# ----- Prepare Data ----- #}


{# ----- Build Page ----- #}

<section class="header block--padding block--bg-navy">
  <header class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="/" class="d-inline-block">{%  include 'components/svg/bowery-logo-inverted.svg' %}</a>
      </div>
      <nav class="col-md-10 align-self-center justify-content-end">
        <ul class="d-flex justify-content-end align-items-md-end">
          <li><a href="{{ url(craft.app.request.pathInfo) == siteUrl ? '#value-add' : siteUrl~'#value-add' }}" class="{{ url(craft.app.request.pathInfo) == siteUrl ? 'scroll-to-div' }}">Value Add</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="https://jobs.bowerycap.com/" target="_blank">Jobs</a></li>
          <li><a href="http://fellowship.bowerycap.com/" target="_blank">Fellowship</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="nav--mobile">
    <svg viewBox="0 0 20 15" version="1.1" width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="hamburger-menu" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" fill="#fff">
          <rect id="hamburger-menu-line-1" x="0" y="0" width="20" height="3" rx="1.5"></rect>
          <rect id="hamburger-menu-line-2" x="0" y="6" width="20" height="3" rx="1.5"></rect>
          <rect id="hamburger-menu-line-3" x="0" y="12" width="20" height="3" rx="1.5"></rect>
        </g>
      </g>
    </svg>
  </div>
</section>
