{#
# Main Footer Template
# ---------------
#
# Proper Implementation:
# {% include "footers/_footer.html" %}
#
#
#}


{# ----- Prepare Data ----- #}


{# ----- Build Page ----- #}

<section class="header block--padding">
  <header class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="/">{%  include 'components/svg/bowery-logo.svg' %}</a>
      </div>
      <nav class="col-md-10 align-self-center">
        <ul class="d-flex justify-content-end">
          <li><a href="/blog">Blog</a></li>
          <li><a href="/portfolio">Portfolio</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="https://jobs.bowerycap.com/" target="_blank">Jobs</a></li>
          <li><a href="https://www.fellowship.bowerycap.com/" target="_blank">Fellowship</a></li>
        </ul>
      </nav>
    </div>
  </header>
</section>
