img {
  width: 100%;
  max-width: 100%;
  display: block;
  &.height-60 {
    height: 60px;
    width: 60px;
  }
  &.max-height-150 {
    max-height: 150px;
    width: auto;
  }
}

iframe {
  min-height: 200px !important;
  max-width: 100% !important;
  width: 100%;
}

.color {
  &--white {
    color: $white !important;
  }
  &--white-soft {
    color: $white-soft !important;
  }
  &--tan {
    color: $tan !important;
  }
  &--olive {
    color: $olive !important;
  }
  &--navy {
    color: $navy !important;
  }
  &--grey-dark {
    color: $grey-dark !important;
  }
  &--black {
    color: $black !important;
  }
}

.border-bottom {
  &__gray {
    border-bottom: 1px solid #efefef;
  }
}

.border-top {
  &__white {
    border-top: 1px solid #fff;
  }
  &__navy {
    border-top: 1px solid $navy;
  }
  &__bold {
    border-width: 2px;
  }
}

.text {
  &-right {
    text-align: right;
    &-desktop {
      text-align: right;
      @media (max-width: 767px) {
        text-align: left;
      }
    }
  }
  &-center {
    text-align: center;
  }
}

.edit-entry {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: $tan;
  color: #fff;
  text-align: center;
  z-index: 10000;
  a {
    font-weight: bold;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.img-container {
  &--round {
    border-radius: 50%;
    overflow: hidden;
  }
  &--bg {
    &__brand {
      position: relative;
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: -30px;
        left: -30px;
        background: $navy;
        z-index: -1;
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: -30px;
        right: -30px;
        background: $tan;
        z-index: -1;
      }
      @media (max-width: 767px) {
        top: -50px;
      }
    }
  }
}

.text {
  &-center {
    text-align: center;
  }
}
