.value {
  &__section {
    &--heading {
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 120.6%;
    }
    .card {
      &__content {
        &__title {
          font-family: Merriweather;
          font-style: normal;
          font-weight: bold;
        }
        &__description {
          font-family: Helvetica Neue;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 24px;
        }
      }
      &__thumb {
        text-align: right;
      }
    }
  }
}
