.value{
  &__section{
    &--heading{
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 120.6%;
    }
    .card{
      &__content{
        &__title{
          font-family: Merriweather;
          font-style: normal;
          font-weight: bold;
        }
        &__description{
          font-weight: normal;
          line-height: 24px;
        }
      }
      &__thumb{
        text-align: right;
        img{
          width:60%;
          margin-left: auto;
          margin-right: 0;
        }
      }
    }
  }
}