header {
  nav {
    ul {
      margin: 0;
      @media (max-width: 767px) {
        padding: 0;
      }
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          display: block;
          padding: 5px 15px;
          color: $white;
          transition: all 300ms;
          &:hover {
            color: lighten($grey-dark, 40%);
          }
        }
      }
    }
  }
}

.header__sub {
  &--door {
    font-family: Helvetica Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    cursor: pointer;
    &--state {
      position: relative;
      top: -2px;
      &.header__sub--door--close {
        display: none;
      }
    }
    &.open {
      .header__sub--door--close {
        display: inline;
      }
      .header__sub--door--open {
        display: none;
      }
    }
  }
  &--options {
    &.hidden {
      display: none;
    }
    display: flex;
    justify-content: space-around;
    > div {
      padding: 10px 0 10px 0px;
      a {
        font-family: Helvetica Neue;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        position: relative;
      }
    }
  }
  &--group {
    h4 {
      text-transform: uppercase;
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      position: relative;
      left: -35px;
    }
    > div {
      margin-bottom: 25px;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        display: block;
        padding: 15px 30px 13px 0;
        color: $grey-dark;
        transition: all 300ms;

        @media (max-width: 767px) {
          font-size: 14px;
        }

        &:hover {
          color: lighten($grey-dark, 40%);
        }
        &.active {
          font-weight: 500;
          position: relative;
          top: -1px;
        }
      }
    }
  }
}
