.team {
  &.index {
    background: url(/template-img/svg/bowery-logo-bg.svg);
    background-size: contain;
    background-position: 100px 50%;
    background-repeat: no-repeat;
    h1 {
      font-size: 50px;
    }
  }
}
