{#
# Home Page Template
# ---------------
#
#}

{# ----- Import Any Required Macros ----- #}


{# ----- Prepare Data ----- #}


{% set pageTitle = "Welcome To Bowery Capital" %}
{% set metaDescription = "We are early-stage venture capital investors focused on helping our founders build the next generation of B2B market leaders." %}
{% set bodyClass = "home" %}
{% set hideFooterDemo = true %}
{% set indexPage = true %}
{% set recentBlogs = craft.entries().section('blog').type(['blog']).showInChannel(1).orderBy('postDate desc').limit(6) %}{% set nextBlogs = craft.entries().section('blog').type(['blog']).showInChannel(1).orderBy('postDate desc').limit(4) %}
{% extends "layouts/_baseLayout" %}


{# ----- Build Data ----- #}

{% block headAdditions %}

{% endblock %}

{% block content %}
  <section class="block--padding block--bg-navy hero">
    <div class="container">
      <div class="row block--padding-bottomLG">
        <div class="col-lg-6 align-self-center block--margin-bottomSM">
          <h1 class="color--white">Our Startups are Changing the Business. </h1>
          <p class="color--white-soft">
            Early-stage venture capital firm focused exclusively on founders looking to modernize business through technology. </p>
          <div>
            <a href="/portfolio" class="button--alternate color--white">View our Portfolio</a>
          </div>
        </div>
        <div class="col-lg-6" style="position: relative">
          <img id="logo" class="next-particle"
               data-gravity="0.3"
               data-particle-gap="2"
               data-noise="50"
               src="/template-img/logos/bowery-logo.png"
               data-max-width="800"
               data-width="800"
               data-height="584" style="display: none;">
        </div>
      </div>
      <div class="row block--padding border-top__white">
        <div class="col-md-3">
          <h2 class="color--white block--paddingSM">Investment Thesis</h2>
        </div>
        <div class="col-md-8 offset-md-1">
          <p class="color--white">
            We believe the shift to next generation business software is a massive opportunity, driven by the rise of the “internet natives” within the enterprise, new and expanding software budgets within the enterprise, and an increasing demand for software within traditionally laggard industries.
          </p>
        </div>
      </div>
      <div class="row block--padding-topLG-desktop">
        <div class="col-md-12">
          <div class="row">
            <div class="col-lg-3 col-md-6 center">
              <div class="statistic">
                <h2 class="color--white statistic__metric">$100M+</h2>
                <p class="color--white statistic__label">AUM</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 center">
              <div class="statistic">
                <h2 class="color--white statistic__metric">Seed</h2>
                <p class="color--white statistic__label">Stage</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 center">
              <div class="statistic">
                <h2 class="color--white statistic__metric">Lead</h2>
                <p class="color--white statistic__label">Investor</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 center">
              <div class="statistic">
                <h2 class="color--white statistic__metric">B2B</h2>
                <p class="color--white statistic__label">SaaS & Marketplaces</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block--paddingXL">
    <div class="container block--padding-topLG">
      <div class="row block--padding block--margin-bottomXL">
        <div class="offset-md-2 col-md-5 order-md-1">
          <div class="img-container--bg__brand">
            {% set imageOne = homePageContent.homePageImages.one().url %}
            <img src="{{ imageOne }}" alt="Investing in Next-Gen B2B Software">
          </div>
        </div>
        <div class="col-md-5 order-md-0 align-self-center">
          <div class="category"></div>
          <h2>Investing in Next-Gen B2B Software</h2>
          <p>We believe that over the next ten years we will see a massive shift in software spend from legacy to next-gen software. Bowery Capital is at the forefront of this shift, identifying and investing in the absolute best founders and businesses leading the charge. </p>
        </div>
      </div>
      <div class="row block--padding">
        <div class="offset-md-2 col-md-5 order-md-1">
          <div class="img-container--bg__brand">
            {% set imageTwo = homePageContent.homePageImages.inReverse().one().url %}
            <img src="{{ imageTwo }}" alt="Helping Founders Scale Revenue">
          </div>
        </div>
        <div class="col-md-5 order-md-0 align-self-center">
          <div class="category"></div>
          <h2>Helping Founders Scale Revenue</h2>
          <p>Bowery Capital’s Acceleration Team helps founders solve the single biggest challenge they will face in their formative years: building an effective marketing, sales, and customer success engine. Post-investment, we arm our portfolio companies with resources, experts, and services proven to accelerate early-stage growth. </p>
        </div>
      </div>
    </div>
  </section>
  <section class="block--paddingXL block--bg-tan-light">
    <div class="container">
      <div class="row block--margin-bottomXL">
        <div class="col-md-12 text-center">
          <h2 class="color--navy">Out Investment Process</h2>
        </div>
      </div>
    </div>
    <div class="container-fluid border-top__navy border-top__bold">
      <div class="row">
        <div class="col-md-12 col-lg-10 offset-lg-1">
          <div class="row">
            <div class="col-lg-4">
              <div class="card__process block--padding-topLG block--margin-bottomXL-mobile">
                <div class="card__process--step">1</div>
                <h3 class="card__process--heading text-center color--navy">Intro Phase</h3>
                <p class="card__process--subheading text-center">Week 1</p>
                <ul class="card__process--list">
                  <li class="card__process--list-item">Meeting with 1-2 members of the Bowery Investment Team</li>
                  <li class="card__process--list-item">Discussion in twice-weekly partner meeting (Tues-Thur)</li>
                  <li class="card__process--list-item">Internal diligence + potential follow-up questions to fully understand founder vision</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card__process block--padding-topLG block--margin-bottomXL-mobile">
                <div class="card__process--step">2</div>
                <h3 class="card__process--heading text-center color--navy">Due Diligence Phase</h3>
                <p class="card__process--subheading text-center">Week 2</p>
                <ul class="card__process--list">
                  <li class="card__process--list-item">2nd meetings with follow-up diligence & product demos</li>
                  <li class="card__process--list-item">Intros to connect remainder of teams on both sides</li>
                  <li class="card__process--list-item">Finalization of internal diligence: research, calls, references</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card__process block--padding-topLG block--margin-bottomXL-mobile">
                <div class="card__process--step">3</div>
                <h3 class="card__process--heading text-center color--navy">Confirmatory Phase</h3>
                <p class="card__process--subheading text-center">Week 3</p>
                <ul class="card__process--list">
                  <li class="card__process--list-item">Discussion/negotiation of terms, structure, syndicate</li>
                  <li class="card__process--list-item">Final meeting: remaining questions on both sides</li>
                  <li class="card__process--list-item">Final partner meeting: decision + move to term sheet/commitment</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block--paddingLG value__section" id="value-add">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h2 class="text-center">We Have A Concentrated Approach To Portfolio Value-Add</h2>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <p class="block--margin-bottom text-center">Sales, marketing and customer success challenges are the most common impediments to successful go-to-market motions. Since Bowery Capital’s first investment in 2013, our Acceleration Team has focused on post-investment support across three key support functions: Growth, Talent, and Business Development.</p>
        </div>
        <div class="col-lg-4">
          <div class="card block--paddingLG-desktop block--padding-horizontalSM">
            <div class="block--margin-bottom">
              <img src="/template-img/svg/growth.svg" class="height-60" alt="growth">
            </div>
            <div class="card__content block--margin-bottomSM">
              <h3 class="card__content__title">Growth</h3>
              <p class="card__content__description color--grey-dark block--margin-bottom">
                Revenue is the lifeblood of any business. For VC-backed startups, it’s also one of the best early indicators of traction and product-market fit. We help founders build a strong GTM foundation by implementing best practice strategies, processes, and technology across sales, marketing, and customer success. With the right groundwork in place, our founders can focus their time on high-leverage activities.</p>
              <a class="button button--light--arrow" href="/blog">Our Blog</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card block--paddingLG-desktop block--padding-horizontalSM">
            <div class="block--margin-bottom">
              <img src="/template-img/svg/talent.svg" class="height-60" alt="talent">
            </div>
            <div class="card__content block--margin-bottomSM">
              <h3 class="card__content__title">Talent</h3>
              <p class="card__content__description color--grey-dark block--margin-bottom">
                People are the heartbeat of any business. Hiring and retaining great talent is critical to the success of any high-growth startup and we support our founders through the entire employee lifecycle. From day one, we coach our founders in establishing people and talent best practices, and we roll up our sleeves to own the end-to-end hiring process for our portfolio’s first revenue hires.</p>
              <a class="button button--light--arrow" href="https://jobs.bowerycap.com/" target="_blank">Our Jobs</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card block--paddingLG-desktop block--padding-horizontalSM">
            <div class="block--margin-bottom">
              <img src="/template-img/svg/business.svg" class="height-60" alt="business development">
            </div>
            <div class="card__content block--margin-bottomSM">
              <h3 class="card__content__title"> Business Development</h3>
              <p class="card__content__description color--grey-dark block--margin-bottom">
                Business development is the sustenance that keeps our pipelines full. Warm introductions to your target ICP can jumpstart your sales process and lock in your first referenceable customers. We are focused on providing our founders with the right prospective customer introductions at the right time. We also help our founders create fruitful referral partnerships.
              </p>
              <a class="button button--light--arrow" href="/blog/business-development">Our Approach</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row border-bottom__gray block--padding-bottomLG">
        <div class="col-lg-9 align-self-center justify-content-center block--margin-bottom">
          <div class="row">
            {% for entry in homePageContent.homePagePortfolioLogos.all() %}
              {% set companyLogo = entry.companyLogo.one().url %}
              <div class="col-lg-3 col-6 align-self-center d-flex justify-content-center">
                <img src="{{ companyLogo }}" alt="{{ entry.title }}" class="max-height-150">
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-3 align-self-center justify-content-center">
          <div class="block--margin-topSM text-right-desktop block--margin-bottomSM">
            <a href="/portfolio" class="button--alternate">View Our Portfolio</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block--paddingLG">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2 class="block--margin-bottom">News & Insights</h2>
          <div class="row">
            {% for entry in recentBlogs|slice(0, 2) %}
            <div class="col-md-6 block--margin-bottomLG">
              {% include "components/cards/_article.html" with {entry: entry} %}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="block--margin-topSM text-right-desktop block--margin-bottomSM">
            <a href="/blog" class="button--alternate">Read Our Blog</a>
          </div>
          <div class="articles__more">
            <div class="articles__more--heading border-bottom__gray">Most Recent</div>
            {% for entry in recentBlogs|slice(2, 4) %}
              {% set heroImageUrl = "" %}
              {% for block in entry.entryImages.all() %}
                {% if block.thumbnailImages.one()|length %}
                  {% set heroImageUrl = block.thumbnailImages.one() %}
                {% endif %}
              {% endfor %}
              <div class="card card__mini">
                <div class="card__content">
                  <div class="category category__short">{{ entry.blogCategory.one() is defined ? entry.blogCategory.one() }}</div>
                  <h3 class="card__content__title"><a href="{{ entry.url }}">{{ entry.title | raw }}</a></h3>
                </div>
                <div class="card__thumb">
                  <a href="{{ entry.url }}"><img src="{{ heroImageUrl != "" ? heroImageUrl.getUrl('cardThumbnail') }}" alt="{{ entry.title }}"></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
