{#
# Home Page Template
# ---------------
#
#}

{# ----- Import Any Required Macros ----- #}


{# ----- Prepare Data ----- #}


{% set pageTitle = "Welcome To Bowery Capital" %}
{% set metaDescription = "We are early-stage venture capital investors focused on helping our founders build the next generation of B2B market leaders." %}
{% set bodyClass = "home" %}
{% set hideFooterDemo = true %}
{% set indexPage = true %}
{% set recentBlogs = craft.entries().section('blog').type(['blog']).showInChannel(1).orderBy('postDate desc').limit(4) %}
{% extends "layouts/_baseLayout" %}


{# ----- Build Data ----- #}

{% block headAdditions %}

{% endblock %}

{% block content %}
  <section class="block--paddingXL block--bg-navy hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-8">
          <h1 class="color--white">Our Startups are Changing the Business. </h1>
          <p class="color--white-soft block--margin-bottomSM">
            Early-stage venture capital firm focused exclusively on founders looking to modernize business through technology. </p>
          <div>
            <a href="/portfolio" class="button--alternate color--white">View our Portfolio</a>
          </div>
        </div>
      </div>
    </div>
    <img id="logo" class="next-particle" data-renderer="webgl" data-gravity="0.5" data-particle-gap="2"  src="/template-img/logos/bowery-logo.png" data-max-width="600" data-width="600" data-height="484" style="display: none;">
  </section>
{#  <section class="block--paddingLG block--bg-tan">#}
{#    <div class="container">#}
{#      <div class="row">#}
{#        <div class="col-md-3">#}
{#          <h2 class="color--navy">Investment Strategy</h2>#}
{#        </div>#}
{#        <div class="col-md-8 offset-md-1">#}
{#          <p class="color--navy">#}
{#            We believe the shift to next generation software is a massive opportunity at roughly 400 billion dollars driven primarily by the rise of the internet native. Since our founding in 2013, we continue to believe we are in the early days of this shift. At Bowery Capital, our thesis is to capitalize on this shift to the next generation of spend by identifying and investing in the absolute best software businesses leading this charge.#}
{#          </p>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}
{#  </section>#}
  <section class="block--paddingLG">
    <div class="container">
      <div class="row block--paddingLG">
        <div class="col-md-6 order-md-1">
          <div class="img-container--round"></div>
        </div>
        <div class="col-md-6 order-md-0">
          <div class="category">Lorem Ipsum</div>
          <h2>Focused on Emerging B2B Technologies</h2>
          <p>We believe that the next ten years will be the most transformational period in the history of modern business as the impact of emerging technologies is realized. Our Investment Team aims to be the best possible thought partner to founders seeking to capitalize on these unprecedented trends.</p>
        </div>
      </div>
      <div class="row block--paddingLG">
        <div class="col-md-6 order-md-1">
          <div class="img-container--round"></div>
        </div>
        <div class="col-md-6 order-md-0">
          <div class="category">Lorem Ipsum</div>
          <h2>Helping Founders Scale Revenue</h2>
          <p>Bowery Capital’s Acceleration Team helps founders solve the single biggest challenge they will face in their formative years: building an effective marketing, sales, and customer success engine. Post-investment, we arm our portfolio companies with resources, experts, and services proven to accelerate early-stage growth. </p>
        </div>
      </div>
      <div class="row block--paddingLG border-bottom__gray">
        <div class="col-md-3 center">
          <div class="statistic">
            <h2 class="color--navy statistic__metric">300</h2>
            <p class="color--navy statistic__label">Portfolio Companies</p>
          </div>
        </div>
        <div class="col-md-3 center">
          <div class="statistic">
            <h2 class="color--navy statistic__metric">$5.5B+</h2>
            <p class="color--navy statistic__label">Portfolio Companies</p>
          </div>
        </div>
        <div class="col-md-3 center">
          <div class="statistic">
            <h2 class="color--navy statistic__metric">30</h2>
            <p class="color--navy statistic__label">IPOs</p>
          </div>
        </div>
        <div class="col-md-3 center">
          <div class="statistic">
            <h2 class="color--navy statistic__metric">6</h2>
            <p class="color--navy statistic__label">Businesses Acquired</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block--paddingLG value__section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="value__section--heading block--margin-bottom">We Have A Concentrated Approach To Portfolio Value-Add</h2>
          <p class="block--margin-bottomLG">Sales, marketing and customer success issues are the most common impediments to successful go-to-market motions. Since Bowery Capital’s first investment in 2013, our Acceleration Team has focused on post-investment support across three key support functions: Talent, Growth, and Business Development. </p>
          <div class="card block--bg-grey block--paddingLG block--padding-horizontalLG block--margin-rightSM">
            <div class="card__thumb block--margin-bottom">
              <img src="/temp/thumbs/card-thumb.jpg" alt="test">
            </div>
            <div class="card__content block--margin-bottomSM">
              <h3 class="card__content__title">Talent</h3>
              <p class="card__content__description color--grey-dark">
                People are the heartbeat of any business. Hiring and retaining great talent is critical to the success of any high-growth startup and we support our founders through the entire employee lifecycle. From day one, we coach our founders in establishing people and talent best practices, and we roll up our sleeves to own the end-to-end hiring process for our portfolio’s first revenue hires.</p>
              <p class="card__content__description color--grey-dark">Our human capital expertise is full-stack: from headcount planning, spec creation, compensation planning, sourcing and interviewing to onboarding, performance management and recognition, development, retention, and offboarding.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card block--bg-grey block--paddingLG block--padding-horizontalLG block--margin-topXL block--margin-bottomLG block--margin-leftSM">
            <div class="card__thumb block--margin-bottom">
              <img src="/temp/thumbs/card-thumb.jpg" alt="test">
            </div>
            <div class="card__content block--margin-bottomSM">
              <h3 class="card__content__title">Growth</h3>
              <p class="card__content__description color--grey-dark">
                Revenue is the lifeblood of any business. For VC-backed startups, it’s also one of the best early indicators of traction and product-market fit. We help founders build a strong GTM foundation by implementing best practice strategies, processes, and technology across sales, marketing, and customer success. With the right groundwork in place, our founders can focus their time on high-leverage activities.</p>

              <p class="card__content__description color--grey-dark">Our growth expertise includes: ICP & buyer persona mapping, messaging, outbound strategy, and sales automation, sales process and qualification frameworks, pricing strategy, CRM setup and optimization, marketing collateral design, creating demand-gen engine, and managing customer lifecycle.</p>
              </p>
            </div>
          </div>
          <div class="card block--bg-grey block--paddingLG block--padding-horizontalLG block--margin-leftSM">
            <div class="card__thumb block--margin-bottom">
              <img src="/temp/thumbs/card-thumb.jpg" alt="test">
            </div>
            <div class="card__content block--margin-bottomSM">
              <h3 class="card__content__title"> Business Development</h3>
              <p class="card__content__description color--grey-dark">
                Business development is the sustenance that keeps our pipelines full. Warm introductions to your target ICP can jumpstart your sales process and lock in your first referenceable customers. We are focused on providing our founders with the right prospective customer introductions at the right time.
              </p>
              <p class="card__content__description color--grey-dark">
                Drawing on our network of over 5,000 IT buyers, we contribute to our portfolio companies’ qualified pipeline on a weekly basis. We continually grow this network to maximize market access across sectors and maximize opportunities for revenue expansion.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="block--paddingLG">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h2 class="block--margin-bottom">News & Insights</h2>
          <div class="row">
            <div class="col-md-6">
              <div class="card">
                <div class="card__thumb block--margin-bottomSM">
                  <a href="/"><img src="/temp/thumbs/card-thumb.jpg" alt="test"></a>
                </div>
                <div class="card__content block--margin-bottomSM">
                  <div class="category">Finance</div>
                  <h3 class="card__content__title"><a href="/">Test Title</a></h3>
                </div>
                <div class="">
                  <a class="button button--light--arrow" href="/">Read More</a>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card">
                <div class="card__thumb block--margin-bottomSM">
                  <a href="/"><img src="/temp/thumbs/card-thumb.jpg" alt="test"></a>
                </div>
                <div class="card__content block--margin-bottomSM">
                  <div class="category">Finance</div>
                  <h3 class="card__content__title"><a href="/">Test Title</a></h3>
                </div>
                <div class="">
                  <a class="button button--light--arrow" href="/">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="block--margin-topSM text-right block--margin-bottomSM">
            <a href="/blog" class="button--alternate">View our blog</a>
          </div>
          <div class="articles__more">
            <div class="articles__more--heading border-bottom__gray">Most Recent</div>
            {% for entry in recentBlogs %}
              <div class="card card__mini">
                <div class="card__content">
                  <div class="category category__short">{{ entry.blogCategory.one() is defined ? entry.blogCategory.one() }}</div>
                  <h3 class="card__content__title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                </div>
                <div class="card__thumb">
                  <a href="{{ entry.url }}"><img src="/temp/thumbs/card-thumb.jpg" alt="test"></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
