{#
# Home Page Template
# ---------------
#
#}

{# ----- Import Any Required Macros ----- #}


{# ----- Prepare Data ----- #}


{% set pageTitle = "Welcome To Bowery Capital" %}
{% set metaDescription = "We are early-stage venture capital investors focused on helping our founders build the next generation of B2B market leaders." %}
{% set bodyClass = "home" %}
{% set hideFooterDemo = true %}
{% set indexPage = true %}
{% extends "layouts/_baseLayout" %}


{# ----- Build Data ----- #}

{% block content %}

{% endblock %}
